header{
    height: 30px;
    width: 100%;
    line-height: 30px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(170, 170, 170, 0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(170, 170, 170, 0.5);
    box-shadow: 0px 1px 3px 0px rgba(170, 170, 170, 0.5);
    overflow: hidden;
}
.profile ul li{
    float: left;
    list-style: none;
}
.profile ul{
    display: inline;
}
.menu ul{
    display: inline-block;
}
.profile{
    text-align: left;
}
.menu{
    text-align: right;
}
.profile ul li a{
    margin-right: 5px;
}
.menu ul li{
    float: left;
    list-style: none;
}
.menu ul li a{
    margin-right: 5px;
}
.txt{
    margin-left: 5px;
}
.logo img{
    margin-top: 23px;
    width: 163px;
    height: 160px;
}
.txt-buscar{
    margin-top: 75px;
    width: 560px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 20px; 
}
.cbox{
    margin-top: 75px;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding-left: 20px; 
}
.btn-buscar{
    margin-top: 75px;
    width: 160px;
    height: 50px;
    background: #33425b;
    border: 1px solid #33425b;
    border-radius: 5px;
    color: #fff;
}

/** slider **/ 
.slider{
    overflow: hidden;
    position: relative;
    
}
.slider #banner{
    position: relative;
    width: 100%;
}
.slider #banner img{
    vertical-align: top;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
}
.slider .flecha-banner{
    font-size: 20px;
    height: 60px;
    width: 30px;
    text-align: center;
    line-height: 60px;
    color: rgba(0, 0, 0, 0.5);
    background: #fff;
    position: absolute;
    top: 43%;
}
.slider .flecha-banner:hover{
    color: rgba(0, 0, 0, 1);
}
.slider .anterior{
    left:0px;
}
.slider .siguiente{
    right:0px;
}